langchain==0.3.15
langchain-community==0.3.15
ipywidgets==8.1.5
numpy==1.26.4
streamlit==1.41.1
pydantic==2.10.6
pytest==8.3.4
pillow==11.1.0
ollama==0.4.7
onnx==1.17.0
ipython==8.31.0
tqdm==4.67.1
pylint==3.3.4
black==25.1.0
unstructured==0.16.17
unstructured-client==0.29.0
unstructured-inference==0.8.6
unstructured.pytesseract==0.3.13
unstructured[all-docs]
protobuf==5.29.3
chromadb==0.4.22
langchain-ollama==0.2.3